#Referral {
    color: white;
    background-color: #291f09;;
    /* border: 3px #291f09 solid; */
    padding: 10px;
    position: relative;
    /* width: 100%; */
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
    grid-auto-rows: 150px;
    grid-gap: 20px;
    display: grid;
    margin: 50px;
    grid-template-columns: 750px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 20vh;
}
.referral-code{
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    box-sizing:border-box;
    display:inline-block;
    font-family:"didact gothic", sans-serif;
    font-size: 25px;
    line-height:0px;
    /* max-width:100%; */
    color:white;  
    background-color: #e8ecf3;    /* sets background same as main page */
    height: 150px;
    /* width: 100%; */
    text-align:center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(241, 236, 236, 0.2);
    transition: 0.3s;
    border-radius: 20px; /* px rounded corners */
}