//GET THE GOOGLE FONT SPECIMENS
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html {
  //VARIABLES BECAUSE NATIVE CSS IS COOL TOO
  --bg-one: #973999;
  --bg-two: #f8598b;
  --bg-three: #f7bf00;
  --bg-panel: #fff;
  --color-headings: #fff;
  --color-text: #333;
  --color-fun: #5bf3f9;
}

.fa-stack {
  font-size: 50px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  .fa-stack-1x {
    text-shadow: none;
    color: var(--color-fun);
  }
}

#countdown {
  overflow-y: hidden;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 4px 4px 12px 2px rgba(black, 0.3);
  padding: 1% 12% 30px 0;
  transform: scale(1.35);

  @media only screen and (max-width: 1100px) {
    transform: scale(1.2);
    padding: 10% 0 30px 0;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1100px) {
    transform: scale(1.4);
    padding: 8% 0 30px 0;
  }
}

.countdown-item {
  color: var(--color-headings);
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  color: var(--color-headings);
  font-size: 12px;
  text-transform: uppercase;
}

.countdown-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

#days {
  margin: 10% -75% 0 0;
}

#hours {
  margin: 10% -68% 0 0;
}

#minutes {
  margin: 10% -60% 0 0;
}

#seconds {
  margin: 10% -55% 0 0;
}
