#MajorDates{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .dates-Container{
    padding: 20px 5px; 
    border-radius: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px; /* rounded corners */
    transition: 0.3s;
  }

  .date-Title{
    font-size: 28px;
  }

  .important-Date{
    padding:7px 10px;
    h1{
      font-size: 24px;
    }

    p{
      font-size: 20px;
    }
  }

  .important-Date-gray{
    border-radius: 7px;
    padding:7px 7px;
    background-color: #a8a4a3;
    h1{
      font-size: 24px;
    }

    p{
      font-size: 20px;
    }

  }

}