.App-sign-up {
  color: magenta;
  min-height: 92vh;
}

#body {
  background-image: linear-gradient(#8d78a1, #b69087, #d15f2a);
  color: white;
  padding: 10%;
  font-family: 'Moon', bold;
  
}

#formID {
  border: white;
  border-style: solid;
  border-width: 10px;
}

label {
  margin: 10%;
  font-size: 30px;
  font-weight: bolder;
 
}

input {
  overflow: hidden;
  color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    
}

/* Boxes*/
:placeholder-shown { 
  font-size: 20px;
  width: 80%;
  text-align: left;
}

a {
  color: rgb(0, 100, 200);
  position: relative;
  left: 10%;
}

#firstYes {
  font-size: medium;
}

#form {
  margin: auto;
  position: relative;
}
h1 {
  font-size: 60px;
  font-family: 'Moon';
  font-weight: bolder;
  text-align: center;
}

h5 {
  font-size: 20px;
  position: relative;
  left: 15px;

}

#firstYes {
  font-size: medium;
  padding-right: 10em;
 
}

select {
  border: 10px solid;
  width: 100%;
  max-width: 50em;
  text-align: center;
}

span {
  font-size: 2em;
  display: inline-block;
  text-align: center;
  box-sizing: inherit;
}
p {
  font-size: 2em;
  margin: 0 0 1em;
  display: inline-block;
  
}

#firstYes{
  border: 1px solid #888;
  display: inline-block;
  position: relative;
  right: 15%;
  cursor: pointer;
}

.first-hackathon{
  font-size: 30px;
  font-weight: bolder;
  margin: 10%;
  cursor: pointer;
  
}

button:hover {
  opacity:1;
}

/*Every input detailed name*/

input[type=text], 
input[type=password], 
input[type=email],
input[type=url] {
  width: 80%;
  padding: 15px;
  margin: 15px 0 22px 0;
  display: inline-block;
  background: rgb(204, 203, 203);
  cursor: auto;
  border-style: inset;
  border-radius: 5px;
  position: relative;
  left: 10%;
}

label:after {
  content:" *";
    color: pink;
}

input[type=date]{
  width: 55%;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}