.App-sign-up {
  color: magenta;
  min-height: 92vh;
}

#body {
  background-image: linear-gradient(#8d78a1, #b69087, #d15f2a);
  color: white;
  padding: 10%;
  font-family: 'Moon', bold;
  
}

#formID {
  border: white;
  border-style: solid;
  border-width: 10px;
}

label {
  margin: 10%;
  font-size: 30px;
  font-weight: bolder;
  
}

input {
  overflow: hidden;
  
}

/* Boxes*/
:placeholder-shown { 
  font-size: 20px;
  width: 80%;
  text-align: left;
  
}

a {
  color: blue;
  
}

#firstYes {
  font-size: medium;
}

#form {
  margin: auto;
  position: relative;
}
h1 {
  font-size: 60px;
  font-family: 'Moon';
  font-weight: bolder;
  text-align: center;
}

h5 {
  font-size: 20px;
  position: relative;
  left: 15px;

}

#firstYes {
  font-size: medium;
  padding-right: 10em;
 
}

select {
  border: 10px solid;
  width: 100%;
  max-width: 50em;
  text-align: center;
 
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-style: bold;
}

span {
  font-size: 2em;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10%;
  margin-top: 2%;
  margin-left: 10%;
}
p {
  font-size: 2em;
  margin: 0 0 1em;
  display: inline-block;
  position: relative;
  left: 10%;
}

.first-hackathon{
  font-size: 30px;
  font-weight: bolder;
  margin: 10%;
  cursor: pointer;
  
}



/*Every input detailed name*/

input[type=text],  
input[type=email],
input[type=url],
input[type=number] {
  width: 80%;
  padding: 15px;
  margin: 15px 0 22px 0;
  display: inline-block;
  background: rgb(204, 203, 203);
  cursor: auto;
  border-style: inset;
  border-radius: 5px;
  position: relative;
  left: 10%;
  overflow:hidden;
  border-width: 10px;
  border-color: black;
  background: transparent;
  text-align: left;
  
}

label:after {
  content:" *";
    color: pink;
}

input[type=date]{
  position: relative;
  width: 45%;
  color: black;
  background: transparent;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
  border-width: 10px;
  border-color: black;
  right: 5%;
  margin-top:2%;
  display: inline-block;

}


input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;  
  }
  

.gender{
  position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    display: inline-block;
    /* Styles */
    background:transparent;
    color: black;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
    left: 10%;
    margin-top:1.5%;
}
.gender:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent #fff;    
}

.ethnicity {
  position: relative; /* Enable absolute positioning for children and pseudo elements */
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  /* Styles */
  background:transparent;
  color: black;
  outline: none;
  cursor: pointer;

  /* Font settings */
  font-weight: bold;

  left: 8%;
  margin-top:1.5%;
}

.university {
  position: relative; /* Enable absolute positioning for children and pseudo elements */
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  /* Styles */
  background:transparent;
  color: black;
  outline: none;
  cursor: pointer;

  /* Font settings */
  font-weight: bold;

  
  margin-top:1.5%;
}

.yearincollege {
  position: relative; /* Enable absolute positioning for children and pseudo elements */
  width: 20%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  /* Styles */
  background:transparent;
  color: black;
  outline: none;
  cursor: pointer;

  /* Font settings */
  font-weight: bold;

  
  margin-top:1.5%;
}

.schoolstanding {
  position: relative; /* Enable absolute positioning for children and pseudo elements */
  width: 20%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  /* Styles */
  background:transparent;
  color: black;
  outline: none;
  cursor: pointer;

  /* Font settings */
  font-weight: bold;

  
  margin-top:1.5%;
}

.first-hackathon  {
  position: relative; /* Enable absolute positioning for children and pseudo elements */
  width: 20%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  /* Styles */
  background:transparent;
  color: black;
  outline: none;
  cursor: pointer;

  /* Font settings */
  font-weight: bold;

  
  margin-top:1.5%;
}

.t-shirt {
  position: relative; /* Enable absolute positioning for children and pseudo elements */
  width: 20%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  /* Styles */
  background:transparent;
  color: black;
  outline: none;
  cursor: pointer;

  /* Font settings */
  font-weight: bold;

  
  margin-top:1.5%;
}


