.App-sign-up {
  color: magenta;
  background-color: #282c34; /* sets bg same as main page */
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  text-align: center;
}

#body {
  text-align: center;
  background-color: #282c34;
  color: white;
}

#formID {
  border: white;
  border-style: solid;
}

label {
  margin: 0.1%;
}

a {
  color: rgb(0, 100, 200);
}
