#live {
  background-image: linear-gradient(#8D78A1, #A05952, #D15F2A);
  padding-top: 15vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-columns: max-content;
  grid-template-areas:
    "twitter timer logo"
    "instagram container container"
    "devpost container container"
    "slack container container"
    ". container container"
    ". container container"
    ". container container"
    ". container container"
    ". container container"
    ". container container"
    ". container container";
}

#live-logo {
  grid-area: logo;
}

#live-timer {
  grid-area: timer;
}

#live-twitter {
  grid-area: twitter;
}

#live-slack {
  grid-area: slack;
}

#live-instagram {
  grid-area: instagram;
}

#live-devpost {
  grid-area: devpost;
}

#live-container {
  grid-area: container;
}

