$mobile: 900px;

.live {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#8d78a1, #a05952, #d15f2a);
  padding: 79px 0;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 45px;
  }

  &__logo {
    width: 100%;
    align-items: center;
    display: flex;

    .hackmlogo {
      margin: 0 auto;
    }
  }

  &__countdown {
    margin: 40px 0;
  }

  &__content {
    display: flex;

    @media only screen and (max-width: $mobile) {
      display: block;
    }

    &__details {
      flex: 1;
      margin-right: 30px;
    }

    &__social {
      width: 350px;

      @media only screen and (max-width: $mobile) {
        max-width: 500px;
        margin: 30px auto;
        width: 100%;
      }

      > * {
        margin-bottom: 15px;
      }
    }
  }


}

.external-links {
  .button {
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
    display: block;
  }
}
