#live {
  background-image: linear-gradient(#8d78a1, #a05952, #d15f2a);
  padding-top: 15vh;
  display: grid;
  grid-auto-columns: max-content;
    grid-template-columns: auto;
    grid-template-areas:
      "logo"
      "timer"
      "container"
      "container"
      "container"
      "container"
      "container"
      "container"
      "container"
      "container"
      "resources"
      "categories"
      "slack"
      "devpost";

    @media only screen and (min-width: 1024px) {
    grid-template-columns: 55vh auto 69vh 10px;
    grid-template-areas:
      "logo timer timer"
      "container container feed"
      "container container twitter"
      "container container instagram"
      "container container devpost"
      "container container slack"
      "container container resources"
      "container container categories"
      "container container ."
      "container container ."
      "container container ."
      "container container .";
  }
}

#submit {
  //margin-left: 6vw;
  @media only screen and (max-width: 1024px) {
    width: 72vh;
    margin-left: 1.5vh;
  }

  @media only screen and (max-width: 375px) {
    width: 100vh;
    margin-left: 1.5vh;
  }
}

#live-logo {
  width: 35vh;
  padding-top: 50px;
  padding-left: 10px;
  grid-area: logo;
}

#live-timer {
  grid-area: timer;
  width: 35vh;
  grid-template-columns: 20%;
}

#live-feed{
  grid-area: feed;
  h1{
    font-size: 36px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #9a544c;
    border-radius: 5px;
  }
  padding-bottom: 6px;
  @media only screen and (max-width: 1024px) {
  display: none;
  }
  @media only screen and (max-width: 375px) {
  display: none;
  }
}

#live-twitter {
  grid-area: twitter;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
  @media only screen and (max-width: 375px) {
    display: none;
  }
}

#live-slack {
  grid-area: slack;
}

#live-instagram {
  grid-area: instagram;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
  @media only screen and (max-width: 375px) {
    display: none;
  }
}

#live-devpost {
  grid-area: devpost;
}

#live-container {
  grid-area: container;
}

#live-categories {
  grid-area: categories;
}

#live-resources {
  grid-area: resources;
}
