.App-login{
    color: black; 
    background-image: linear-gradient(#8D78A1, #B69087, #D15F2A);   /* sets bg color same to main page */
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-title{
  color: #D15F2A;
  font-size: 45px; 
  position: relative;
}

.center-the-login{
  position: absolute; /* creates a box with rounded edges */
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
}

.login-email{

   padding-right: 125px; /* Left aligns "Email" */
   border-radius: 5px;
   font-size:18px;
   font-weight:normal;
   position:absolute;
   pointer-events:none;
   left:5px;
   top:10px;
   transition:0.2s ease all; 
}

.login-pass{
  padding-right: 125px; /* Left aligns "Password" */
  border-radius: 5px;
}

.logged-In{
  padding-right: 70px; /* Left aligns "keep me logged in" */
  font-size: 5px;
}

.signUp-text{
  padding-top: 5px; /* brings sign-up lower and shrinks down text */
  font-size: 15px;
}

.signUp-link{
  margin-left: 5px; /* Adds a space between link and text */
}

input{
  width: 270px;
  border-radius: 5px;
  padding: 10px 65px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 24px;
  color: black;
  transition-duration: 0.25s;
}


button{
  width: 270px;
  background-color: #9A544C;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  transition-duration: 0.25s;
}