#login {
  background-image: linear-gradient(#8d78a1, #b69087, #d15f2a);
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  #login-title{
    color: #D15F2A;
    font-size: 20px; 
    position: relative;
  }
  
  #login-container {
    display: block;
    border-radius: 5%;
    background-color: white; // for debugging
    width: 80vh;
    position: relative;
    text-align: center;
    padding-bottom: 10px;

    img {
      margin-top: 5%;
      width: 170px;
    }
  }

  input[type=email],
  input[type=password] {
    width: 80%;
    padding: 15px;
    font-size: 15px;
    margin: 15px 0 22px 0;
    display: inline-block;
    background: rgb(204, 203, 203);
    cursor: auto;
    border-style: inset;
    border-radius: 5px;
    position: relative;
    overflow:hidden;
    border-width: 10px;
    border-color: black;
    background: transparent;
    text-align: left;
  }


  button {
    width: 270px;
    background-color: #9a544c;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition-duration: 0.25s;
  }

.login-text{
  padding-top: 10px; /* brings sign-up lower and shrinks down text */
  font-size: 15px;
}

.login-link{
  margin-left: 5px; /* Adds a space between link and text */
}

}
