/* Reset */
@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);

// colors
$color-one: #2c3e50;
$btn-colors: (
  "green": "#2ecc71",
  "blue": "#3498db",
  "purple": "#9b59b6",
  "navy": "#34495e",
  "orange": "#e67e22",
  "red": "#e74c3c"
);

#navigation-bar {
  padding: 1vh 0;
  background-color: #8b779e;
  position: absolute;
  z-index: 100;
}

#desktop-view {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* Adjusting position of the banner to the top left corner */
    padding-right: 2%;
  }
}

.navigation {
  /* This adjusts for the content inside the container */
  text-align: center;
  width: 12%;
  font-size: 2%;
  float: right;

  .link {
    /* This adjusts the React Router links */
    color: white;
    font-weight: bold;
    text-decoration: none; /* removes underscores of the links */

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

#banner {
  position: fixed;
  top: -5px;
  padding-left: 20px;

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    /* Adjusting position of the banner to the top left corner */
    width: 80px;
    right: 10px;
    display: none;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* Adjusting position of the banner to the top left corner */
    width: 100px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* Adjusting position of the banner to the top left corner */
    width: 150px;
  }
}

// extenders
.animate {
  transition: all 0.3s;
}

.btn {
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 0 15px;
  font-size: 15px;
  position: relative;
  opacity: 0.999;
  border-radius: 3px;
  @extend .animate;
}

.btn-border-o {
  background-color: transparent;
  color: #b8b8b8;
  overflow: hidden;

  div.link {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 16px;
    height: 40px;
    padding: 5px;
  }

  &:before,
  &:after {
    content: "";
    border-style: solid;
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    box-sizing: content-box;
    @extend .animate;
  }

  &:before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
    top: -1px;
    left: 0;
    transition-delay: 0.05s;
  }

  &:after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
    top: 0;
    left: -1px;
  }

  &:hover {
    &:before {
      width: 100%;
    }

    &:after {
      height: 100%;
      border-style: solid;
      color: orange;
    }
  }

  @each $name, $hex in $btn-colors {
    &.btn-#{$name}:hover {
      color: #{$hex};
      border-radius: 16px;
    }

    &.btn-#{$name} {
      &:hover > button.link {
        border-style: solid;
        border-color: #{$hex};
        border-radius: 16px;
      }
    }
  }
}

#mobile-view {
  display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  /* Adjusting position of the banner to the top left corner */

  #mobile-view {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    right: 0;
  }

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
  }

  .ham3 .top {
    stroke-dasharray: 40 130;
  }

  .ham3 .middle {
    stroke-dasharray: 40 140;
  }

  .ham3 .bottom {
    stroke-dasharray: 40 205;
  }

  .ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
  }

  .ham3.active .middle {
    stroke-dashoffset: -102px;
  }

  .ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
  }
}
