#faq {
  background-color: #342e40;

  .grid-container {
    color: white;
    display: grid;
    height: 100%;
    grid-template-columns: 55% auto;
  }

  #lamp {
    display: grid;
    height: 100%;
  }

  #faq-Title {
    padding: 5%;
    margin-top: 12%;
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
  }

  #faq-layout {
    margin-top: 5%;
    padding: 5%;
    .answers {
      overflow: hidden;
    }

    .circle {
      border: 8px solid #fff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      z-index: 86;
    }

    #accordions {
      align-items: center;
      grid-area: accordions;
    }
  }

  #prompt {
    margin-top: 5%;
    padding: 5%;

    #question {
      font-size: 1.75rem;
      padding: 1.3rem;
      margin: 0;

      .circle {
        border: 8px solid #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        z-index: 86;
      }
    }

    #question {
      h3 {
        size: 20px;
        overflow: hidden;
      }
    }

    #answer {
      size: 20px;

      p {
        overflow: hidden;
      }
    }
  }
}
