.app-status{
    margin:inherit;
    display: inline-block;
    width: auto;
    color: white;
    padding: 5px 10px;
    background-color: #532A25;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
}