#CheckIn{
    background-image: linear-gradient(#8d78a1, #b69087, #d15f2a);
    overflow: hidden;  
    padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;


#body {
    background-image: linear-gradient(#8d78a1, #b69087, #d15f2a);
    color: white;
    padding: 10%;
    font-family: "Moon", bold; 
}


#CheckIn-title{
    color: #D15F2A;
    font-size: 20px; 
    position: relative;
  }
  
  #CheckIn-container {
    display: block;
    border-radius: 5%;
    background-color: white; // for debugging
    width: 80vh;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    margin: 5% 0% 0% 0%;

    
  }
  #CheckIn-logo {
    margin-top: 5%;
    max-width: 40%;
    position: relative;
    bottom: 20%;
    left: 30%;
  }
  #email{
    position: relative;
    right: 10%;
  }

  input[type=email] {
    width: 80%;
    padding: 15px;
    font-size: 15px;
    margin: 15px 0 22px 0;
    display: inline-block;
    background: rgb(204, 203, 203);
    cursor: auto;
    border-style: inset;
    border-radius: 5px;
    position: relative;
    overflow:hidden;
    border-width: 10px;
    border-color: black;
    background: transparent;
    text-align: left;
  }

  button {
    width: 270px;
    background-color: #9a544c;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition-duration: 0.25s;
  }

#CheckIn-text{
  padding-top: 10px; /* brings sign-up lower and shrinks down text */
  font-size: 55px;
  font-weight: bold;
  
}

.CheckIn-link{
  margin-left: 5px; /* Adds a space between link and text */
}

}
