.fa{
    /* font-awesome icon styling */
    color: #B996A4;
    font-size: 35px !important;
    margin: 10px;
}

.credits{
    /* copyright styling */
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
}

.App-footer {
    /* entire footer styling */
    color: #B996A4;
    background-color: #E7D9D2; /* This adjusts the container */
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    padding-bottom: 10px;
}