#DashboardBody {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

.dash-Container {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 5px; /* rounded corners */
    padding-bottom: 130px;
}

  button {
    width: 50%;
    background-color: #a8a4a3;
    padding: 6px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: inherit;
    transition-duration: 0.25s;
  }

  .dash-Wel{
    font-size: 50px;
    padding-bottom: 10px;
  }


}