.App-nav {
  background-color: #E7D9D2; /* This adjusts the container */
  min-height: 2vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
  display: flex;
  justify-content: flex-end; /* makes them align to the right side */
}

.nav-link{ /* This adjusts for the content inside the container */
  text-align: center;
   width: 12%; 
   font-size: 2vw;
}

/* I had to seperate the CSS for links and nav bars as the changes wouldn't work through the containers*/

.style-link{ /* This adjusts the React Router links */
  color: #B996A4;
  font-weight: bold;
  text-decoration: none; /* removes underscores of the links */
}