.admin{
    color: green;
    background-color: #282c34; 
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    text-align: center;
}