#themes{
    background-color: #9a544c;
    color: white;

    img{
        max-height: auto;
        max-width: auto;
    }

    h2 {
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-top: 3%;
        font-weight: 900;
        overflow: hidden;
        margin-bottom: 3%;
      }

    h3 {
        overflow: hidden;
        font-size: x-large;
    }
    
      .grid-container{
        padding: 4%;
        display: grid;
        grid-gap: 6%;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin-bottom: 5%;
      }
    
      .grid-item-title {
        padding: 5% 0% 0% 0%;
        margin: 10% 0% 0% 0%;
        text-align: center;
        position: center;
      }

      #social-good{
        width: 70%;
        position: relative;
        left: 15%;
        top: 15%;
      }

      #sustainability{
        width: 70%;
        position: relative;
        left:15%;
        top: 10%;
      }
      #health{
        width: 70%;
        position: relative;
        left:15%;
        top: 10%;
      }
}

