.toast {
    background-color: #B69087;  
    color: white;
    position: fixed;
    margin: auto;
    max-width: 100%;
    padding: 2%;
  
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s top 0.5s visibility 0.5s;
  }
  
  .toast--visible {
    bottom: 20px;
    opacity: 1;
    visibility: visible;
  }
  
  .toast--success {
    background-color: #8b779e; 
    color: white;
  }
  
  .toast--error {
    background-color: #A05952; 
    color: white;
  }