#sponsors {
  background-color: #9a544c;
  color: white;

  img{
    display: block;
    
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 4% 0;
    font-weight: 900;
    overflow: hidden;
  }

  #sponsors-grid {
    padding: 0 2%;
    overflow: hidden;
    justify-content: center;
  }

  #platinum {
    grid-area: platinum;
    display: grid;
    grid-template-areas: ". asucm mlh .";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 6%;
    margin-bottom: 1%;
  }

  #silver {
    grid-area: silver;
    display: grid;
    grid-template-areas: 
    " Founders Linode LLNL"
    "DigitalOcean . Roche ";
  }

  #bronze {
    grid-area: bronze;
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    overflow: hidden; // This is a quick fix. Change later
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
 
        margin-bottom: 3%;
  }

  #ASUCM {
    overflow: hidden;
    width: 60%;
    left: 60%;
    position: relative;
  }
  #MLH {
  padding-top: 10%;
  width: 50%;
  position: relative;
  left: 10%;
  }

  #Linode{
    width: 70%;
    position: relative;
    top: 20%;
    left: 10%;
  
  } 

  #LLNL {
    width: 70%;
    padding-top: 10%;
  }
  #DigitalOcean {
    width: 70%;
    padding-top: 10%;
    position: relative;
    left: 60%;
    bottom: 10%;
  }

  #Roche {
    width: 70%;
    padding-top: 10%;
    position: relative;
    left: 50%;
    bottom: 10%;
   
  
}

  
  #MakeSchool {
    width: 45%;
    position: relative;
    top: 10%;
    left: 40%;
  }

  #Sketch {
    width: 75%;
    position: relative;
    top: 30%;
    left: 10%;
  } 


  #OnePassword {
    width: 65%;
    position: relative;
    top: 40%;
    left: 10%;
  }
  #JetBrains {
    width: 70%;
    position: relative;
    top: 10%;
    right: 10%;
  }

  #StickerYou {
    width: 40%;
    position: relative;
    left: 40%;
    top: 20%;
  }


  #Balsamiq {
    width: 70%;
    position: relative;
    top: 10%;
    left: 10%;
  }

  #Clerky {
    width: 60%;
    position: relative;
    top:40%;
    left: 10%;
  }
  #CloudSploit {
    width: 60%;
    position: relative;
    top:40%;
    right: 10%;
  }
  #MakeyMakey {
    width: 40%;
    position: relative;
    top:10%;
    left: 40%;
  }
  #Egghead{
    width: 70%;
    position: relative;
    top: 30%;
    left: 10%;
  }
  #Desmos{
    width: 60%;
    position: relative;
    top:40%;
    left: 10%;
  }
  #AoPS{
    width: 70%;
    position: relative;
    top: 20%;
    right: 15%;
  }

  #Bugsee{
    width: 45%;
    position: relative;
    top:10%;
    left: 35%;
  }

  #Magoosh{
    width: 70%;
    position: relative;
    top: 45%;
    left: 10%;
  }


  #CITRIS{
    width: 60%;
    position: relative;
    top:30%;
    left: 10%;
  }
  #Wolfram{
    width: 40%;
    position: relative;
    top: 20%;
  }
#StickerMule{
  width: 70%;
  position: relative;
  left: 160%;
}
}
