#sponsors {
  background-color: #9a544c;
  color: white;

  img{
    display: block;
    max-width: auto;
    height: 100%;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 4% 0;
    font-weight: 900;
    overflow: hidden;
  }

  #sponsors-grid {
    padding: 0 2%;
    overflow: hidden;
    justify-content: center;
  }

  #platinum {
    grid-area: platinum;
    display: grid;
    grid-template-areas: ". asucm mlh .";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 6%;
    margin-bottom: 5%;
  }

  #silver {
    grid-area: silver;
    display: grid;
    grid-template-areas: 
    " Founders Linode LLNL"
    "DigitalOcean . Roche ";
  }

  #bronze {
    grid-area: bronze;
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    overflow: hidden; // This is a quick fix. Change later
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-gap: 8%;
        margin-bottom: 5%;
  }

  // #asucm {
  //   grid-area: asucm;
  //   overflow: hidden;
  // }
  // #mlh {
  //   grid-area: mlh;
  //   padding-top: 25%;
  // }

  // #digitalocean {
  //   grid-area: digitalocean;
  //   overflow: hidden;
  // }

  // #roche {
  //   grid-area: roche;
  //   overflow: hidden;

  // }


  // #jetbrains {
  //   grid-area: jetbrains;
  //   width: 70%;
  //   overflow: hidden;
  //   padding: 5% 0% 0% 0%;
  //   position: relative;
  //   left: 20%;
  //   top: 15%;
  // }


  // #makeschool {
  //   grid-area: makeschool;
  //   overflow: hidden;
  //   width: 60%;
  //   position: relative;
  //   margin: 10% 25% 0%;
  //   padding: 0% 0% 50%;
  // }

  // #stickeryou {
  //   grid-area: stickeryou;
  //   width: 60%;
  //   overflow: hidden;
  //   position: relative;
  //   left: 20%;
  //   top: 20%;
  // }

  // #sketch {
  //   grid-area: sketch;
  //   overflow: hidden;
  //   position: relative;
  //   right: 4%;
  // }

  // #balsamiq {
  //   grid-area: balsamiq;
  //   overflow: hidden;
  //   width: 90%;
  //   bottom: 20%;
  //   position: relative;
  //   left: 10%;

  // }

  // #password {
  //   padding: 10% 0% 0% 0%;
  //   grid-area: password;
  //   overflow: hidden;
  //   width: 80%;
  //   position: relative;
  //   left: 10%;

  // }




}
