#sponsors {
  background-color: #9A544C;
  color: white;

  h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 4% 0;
    font-weight: 900;
  }

  #sponsors-grid {
    padding: 0 2%;
    display: grid;
    grid:
    "platinum" 33%
    "silver" 33%
    "bronze" 300px;
  }

  #platinum {
    grid-area: platinum;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-gap: 2%;
    grid-template-areas:
    ". asucm mlh .";
  }

  #silver {
    grid-area: silver;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-gap: 2%;
    grid-template-areas:
    ". digitalocean roche .";
  }

  #bronze {
    grid-area: bronze;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-gap: 2%;
    grid-template-areas:
    "password makeschool stickeryou"
    "sketch balsamiq jetbrains";
  }

  #asucm {
    grid-area: asucm;
  }

  #digitalocean {
    grid-area: digitalocean;
  }

  #roche {
    grid-area: roche;
  }

  #password {
    padding-top: 15%;
    grid-area: password;
  }

  #makeschool {
    grid-area: makeschool;
  }

  #stickeryou {
    grid-area: stickeryou;
    width: 50%
  }

  #sketch {
    grid-area: sketch;
  }

  #balsamiq {
    grid-area: balsamiq;
  }

  #jetbrains {
    grid-area: jetbrains;
    width: 40%;
    padding-left: 10%;
  }

  #mlh {
    grid-area: mlh;
  }
}
