//colors
$white: #fff;

#spacer {
  background-color: #8b779e;
  width: 100%;
  height: 80px;
  // position: absolute;
}

#title {
  overflow: hidden;
  
  > #content {
    position: relative;

    > img {
      position: absolute;
    }

    > div {
      position: absolute;
      top: 30%;
      text-align: center;
      text-transform: uppercase;
      color: rgb(255, 255, 255);

      > h1 {
        font-size: 3rem;
      }

      > h3 {
        font-size: 1.2rem;
        margin-bottom: 1%;
      }

      > h1,
      h3 {
        overflow: hidden;
      }
    }
  }
}

#register {
  background-color: #bc4d2b;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  letter-spacing: 0;

  > a {
    border-bottom: 1px solid;
    color: $white;
    line-height: 1.4;
    padding: 0.25em;
    text-decoration: none;
  }
}

// Button wrap
#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

//default button
#btn {
  color: $white;
  cursor: pointer;
  // display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

////////////////////////////
//button two
//////////////////////////
#btn {
  letter-spacing: 0;
  font-weight: 900;
}

#btn:hover,
#btn:active {
  letter-spacing: 5px;
}

#btn:after,
#btn:before {
  backface-visibility: hidden;
  border: 1px solid rgba($white, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

#btn:hover:after,
#btn:hover:before {
  backface-visibility: hidden;
  border-color: $white;
  transition: width 350ms ease-in-out;
  width: 70%;
}

#btn:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
