.App-applicant{
    color: green;  
    background-color: #e7d9d2;    /* sets background same as main page */
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    text-align: center;
}

.Dashboard{
    background-color: #282c34;    /* sets background same as main page */
    color: white; 
    min-height: 92vh;
    display: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}





